build/
.vscode/
.devcontainer/
sdkconfig
sdkconfig.old
device/sf_watering/watering_app/frontend/dist/
device/sf_watering/watering_app/frontend/node_modules/
device/sf_watering/watering_app/backend/__pycache__/
device/sf_watering/watering_app/backend/schedules.json