menu "SIM FLOW WiFi Configuration"

    config SIM_FLOW_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config SIM_FLOW_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
    config SIM_FLOW_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel) for the example to use.

    config SIM_FLOW_WIFI_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the STA connects to AP.
endmenu

menu "SIM FLOW Time Configuration"

    config SIM_FLOW_SNTP_SERVER
        string "SNTP Server"
        default "pool.ntp.org"
        help
            SNTP server to use for time synchronization.

    config SIM_FLOW_SNTP_RETRY_COUNT
        int "SNTP Max retry count"
        default 10
        help
            SNTP max retry count for time synchronization.


    config SIM_FLOW_SNTP_TIMEOUT
        int "SNTP Timeout"
        default 2000
        help
            SNTP timeout in milliseconds for time synchronization.

    config SIM_FLOW_TIME_DEFUALT_TIMEZONE
        string "defualt timezone"
        default "IST-2IDT"
        help
            SNTP timeout in milliseconds for time synchronization.

endmenu